.triangulo{
    width: 200px;
    height: 200px;
    background-color: #c1f347;
    margin:0 auto;
    animation: triangle 3s infinite  alternate;
}

@keyframes triangle {
    from   {
        clip-path: polygon(50% 0%, 0% 100%, 0 100%);
    }
    to {
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }
}

.triangulo2{
    width: 200px;
    height: 200px;
    background-color: #47a0f3;
    margin:0 auto;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}