html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    border: 1px solid #00696c;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
}


#barra_81 {
    height: 0px;
    transform: scaleY(-1);


    -moz-animation: example 4s forwards;
    -webkit-animation: example 4s forwards;
    animation: example 4s forwards;

}

@keyframes example {
    0% {
        height: 0px;
    }

    100% {
        height: 10.245px;
    }

}

#barra_135 {
    height: 0px;
    transform: scaleY(-1);
    -moz-animation: example2 3s forwards;
    -webkit-animation: example2 3s forwards;
    animation: example2 3s forwards;
}

@keyframes example2 {
    0% {
        height: 0px;
    }

    100% {
        height: 17.074px;
    }
}

#barra_192 {
    height: 0px;
    transform: scaleY(-1);
    -moz-animation: example3 2s forwards;
    -webkit-animation: example3 2s forwards;
    animation: example3 2s forwards;
}

@keyframes example3 {
    0% {
        height: 0px;
    }

    100% {
        height: 24.284px;
    }
}

#barra_237 {
    height: 0px;
    transform: scaleY(-1);

}

.anima {
    -moz-animation: example4 3s forwards;
    -webkit-animation: example4 3s forwards;
    animation: example4 3s forwards;
}


@keyframes example4 {
    0% {
        height: 0px;
    }

    100% {
        height: 29.975px;
    }
}

.aparece {
    -moz-animation: mostra 2s linear 2s forwards;
    -webkit-animation: mostra 2s linear 2s forwards;
    animation: mostra 2s linear 2s forwards;


}

#_237 {
    opacity: 0;
}

@keyframes mostra {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#ano2004 {
    cursor: pointer;
}





.container {
    position: relative border: 1px solid #000;
    overflow: hidden;
    width: 400px;
    margin: 100px;
}

.container img {
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
}

.container::after {
    content: '+';
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    font-size: 1.5em;
    width: 45px;
    height: 35px;
    background: rgba(255, 230, 0, 0.6);
    border-radius: 100%;
    position: absolute;
    z-index: 2;
    margin: 150px 0 0 -190px;
    cursor: pointer;

    animation-name: sinaliza;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;

}

@keyframes sinaliza {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

.container:hover::after {
    animation-name: sinaliza;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;

}

.container:hover::before {
    content: '';
    background: url(../resources/images/zoom.png) center center no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border: #ffe600 5px solid;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    position: absolute;
    margin: -120px 0px 0 20px;
    z-index: 15;
}



@media screen and (min-width: 300px) and (max-width: 700px) {

    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    main {
        width: 100%;
        max-width: 100%;

    }

    svg {
        max-width: 100%;
    }
}